# Random Forest (Tugas 10)

In [1]:
import pandas as pd
#read in the data using pandas
dataset_url =("https://raw.githubusercontent.com/niniengC/dataset/main/credit_score.csv")
#check data has been read in properly
df = pd.read_csv(dataset_url)
df.head(10)

,no,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2
5,6,AGR-000063,220,TIDAK,24,5,0 - 30 days,1
6,7,AGR-000068,70,TIDAK,36,3,31 - 45 days,2
7,8,AGR-000075,88,TIDAK,48,3,31 - 45 days,2
8,9,AGR-000081,163,TIDAK,48,5,31 - 45 days,2
9,10,AGR-000094,100,TIDAK,36,6,31 - 45 days,2

In [2]:
# Import needed packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# If you're working in Jupyter Notebook, include the following so that plots will display:
%matplotlib inline